= form_for(@event, html: { class: "form-horizontal col-md-9" }) do |f|

  - if f.object.errors.any?
    .alert.alert-danger{ role: "alert" }
      %ul
        - f.object.errors.full_messages.each do |message|
          %li
            %span.sr-only Error:
            = message

  .field.form-group
    = f.label :title, { class: "col-md-2 control-label" }
    .col-md-10
      = f.text_field :title, { autofocus: true, class: "form-control", placeholder: "Title" }

  .field.form-group
    = f.label 'categories', { class: "col-md-2 control-label" }
    .col-md-10
      -#= select_tag 'categories', options_from_collection_for_select(Category.all, "id", "name"), { multiple: true, class: "form-control", placeholder: "Categories" }
      = select_tag :category_ids, options_from_collection_for_select(Category.all, "id", "name", @event.category_ids), { multiple: true, class: "form-control", placeholder: "Categories" }

  .field.form-group
    = f.label :description, { class: "col-md-2 control-label" }
    .col-md-10
      = f.text_field :description, { class: "form-control", placeholder: "Description" }

  .field.form-group
    = f.label :location, { class: "col-md-2 control-label" }
    .col-md-10
      = f.text_field :location, { class: "form-control", placeholder: "Location" }

  .field.form-group
    = f.label :occurs_on, { class: "col-md-2 control-label" }
    .col-md-10
      = f.date_field :occurs_on, { class: "form-control", placeholder: "Date of Event" }

  .field.form-group
    = f.label :url, { class: "col-md-2 control-label" }
    .col-md-10
      = f.url_field :url, { class: "form-control", placeholder: "Url" }

  %br
  .actions.form-group.col-md-12.clearfix
    = f.submit "Save", { class: "btn btn-primary col-md-3" }
